{% extends "layout.html" %}
{% block title %}Challenges{% endblock %}
{% block navbar_toggle %}
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
{% endblock %}
{% block navbar_right %}
  <li class="active"><a href="/challenges">Challenges<span class="sr-only">(current)</span></a></li>
  <li><a href="/callback">Profile</a></li>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row page-content">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1>Challenges</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Swag</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Swagg</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
