{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
  <div class="flex-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <form action="/login" methods="GET">
            <h1 class="text-center">Description</h1>
            <p class="text-center">Aliquam venenatis ligula elit, non viverra metus bibendum quis. Morbi ut velit sagittis, semper dui in, feugiat risus. </p>
            <button type="submit" class="btn btn-primary center-block">Log in with GitHub</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
