$blue: #009FE8;
$navbar-height: 50px;
$footer-height: 61px;
$line-height: 1.5;

/* Fixed navbar and sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  // min-height: 2000px;
  padding-top: $navbar-height;
  margin-bottom: $footer-height;
  background-color: #FFF;
  line-height: $line-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
}

.flex-wrapper {
  height: calc(100vh - #{$navbar-height} - #{$footer-height});
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
}

.img-rounded.img-profile {
  width: 150px;
  height: 150px;
}

.page-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.btn-primary {
  border: 0px;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  .text-muted {
    margin: 20px 0;
  }
}

.table {
  border: 1px solid #ddd;
}

a {
  color: #333;
}

a:hover {
  color: $blue;
  text-decoration: none;
}

.flex-wrapper-challenge {
  height: calc(100vh - #{$navbar-height} - #{$footer-height} - 157px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumb {
  background-color: rgba(255, 255, 255, 0);
}
